<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Backbone JS</title>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap3/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/bootstrap3/js/bootstrap.js"></script>

    <script type="text/template" id="users-table-tmpl">
        <h1 class="page-header">Users List</h1>

        <div id="alert-message"></div>

        <a href="javascript:void(0)" class="btn btn-primary btn-sm create-user" style="margin-bottom: 10px">Create User</a>

        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(!users.isEmpty()) { %>
                    <% users.each(function(user, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= user.getFullName() %></td>
                        <td><%= user.get('email') %></td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-success btn-sm edit-user" data-id="<%= user.id %>">Edit</a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm delete-user" data-id="<%= user.id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="4">No Users</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="user-form-tmpl">
        <h1 class="page-header"><%= page_header %></h1>

        <form role="form" id="<%= form_id %>">
            <% if(typeof(id) !== "undefined") { %>
            <input type="hidden" name="id" value="<%= id %>" />
            <% } %>

            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="first_name" value="<%= first_name %>" class="form-control" />
            </div>

            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="last_name" value="<%= last_name %>" class="form-control" />
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="text" name="email" value="<%= email %>" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary"><%= button_text %></button>
            <a href="javascript:void(0)" class="btn btn-default cancel">Cancel</a>
        </form>
    </script>

    <script type="text/template" id="alert-message-tmpl">
        <div class="alert alert-<%= alert_class %> fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p><span class="glyphicon glyphicon-info-sign"></span> <%= message %></p>
        </div>
    </script>

    <script type="text/javascript">
        // Collection variables
        var users;

        // View variables
        var userList;
        var userCreate;
        var userEdit;

        // router
        var userRouter;

        // database
        var db;

        function app() {
            if (window.openDatabase) {
                db = openDatabase("backbonejs_crud", "1.0", "Just practice", 5 * 1024 * 1024);
                db.transaction(function(tx) {
                    var query = "CREATE TABLE IF NOT EXISTS users(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, first_name VARCHAR(255) NOT NULL, last_name VARCHAR(255) NOT NULL, email VARCHAR(255) NOT NULL)";
                    // var query = "DROP table users";
                    tx.executeSql(query, [], successHandler, errorHandler);
                });

                // return false;
            } else {
                console.log("Web SQL not supported of this browser!");
                return false;
            }

            // Collection instances
            users = new Users();
            loadUser(function() {
                // View instances
                userList = new UserList({collection: users});
                userCreate = new UserCreate();
                userEdit = new UserEdit();

                userRouter = new UserRouter();

                Backbone.history.start();
            });
        }

        function loadUser(callback) {
            db.transaction(function(tx) {
                var query = "SELECT * FROM users";
                tx.executeSql(query, [], function(tx, result) {
                    var models = [];
                    for (var i = 0; i < result.rows.length; i++) {
                        var user = result.rows[i];

                        models[i] = new User({
                            id: user.id,
                            first_name: user.first_name,
                            last_name: user.last_name,
                            email: user.email
                        });
                    }

                    users.add(models);
                    callback();
                });
            });
        }

        function createUser(data, successCallback, errorCallback) {
            db.transaction(function(tx) {
                var query = "INSERT INTO users(first_name, last_name, email) VALUES(?, ?, ?)";
                tx.executeSql(query, [data.first_name, data.last_name, data.email], function(tx, results) {
                    successCallback(results.insertId);
                }, errorCallback);
            });
        }

        function updateUser(data, id, successCallback, errorCallback) {
            db.transaction(function(tx) {
                var query = "UPDATE users SET first_name=?, last_name=?, email=? WHERE id=?";
                tx.executeSql(query, [data.first_name, data.last_name, data.email, id], successCallback, errorCallback);
            });
        }

        function deleteUser(id, successCallback, errorCallback) {
            db.transaction(function(tx) {
                var query = "DELETE FROM users WHERE id=?";
                tx.executeSql(query, [id], successCallback, errorCallback);
            });
        }

        function successHandler(tx, result) {
            console.log("Success: ", result);
        }

        function errorHandler(tx, error) {
            console.log("Error: ", error);
        }

        var UserRouter = Backbone.Router.extend({
            routes: {
                'users': "index",
                'users/create': "create",
                'users/:id/edit': "edit",

                '*notFound': "page404",
            },

            page404: function() {
                $('#content').html('<h1 class="page-header">Page 404</h1>');
            },

            index: function() {
                userList.render();
            },

            create: function() {
                userCreate.render();
            },

            store: function(e) {
                var form = $(e.currentTarget);

                var data = {
                    first_name: form.find(':input[name="first_name"]').val(),
                    last_name: form.find(':input[name="last_name"]').val(),
                    email: form.find(':input[name="email"]').val()
                };

                createUser(data, function(insertId) {
                    data = $.extend(data, {id: insertId});
                    var result = User.create(data);
                    var alert_message = _.template($('#alert-message-tmpl').html());

                    userRouter.navigate("users", {trigger: true});

                    if (result !== null) {
                        userList.$el.find('#alert-message').html(alert_message({alert_class: "success", message: "Successfully Created."}));
                    } else {
                        userList.$el.find('#alert-message').html(alert_message({alert_class: "danger", message: "Cannot Create User."}));
                    }
                });
            },

            edit: function(id) {
                userEdit.render(id);
            },

            update: function(e) {
                var form = $(e.currentTarget);
                var id = form.find(':input[name="id"]').val();

                var data = {
                    first_name: form.find(':input[name="first_name"]').val(),
                    last_name: form.find(':input[name="last_name"]').val(),
                    email: form.find(':input[name="email"]').val()
                };

                updateUser(data, id, function() {
                    var alert_message = _.template($('#alert-message-tmpl').html());
                    var result = User.update(data, id);

                    userRouter.navigate("users", {trigger: true});

                    if (result !== null) {
                        userList.$el.find('#alert-message').html(alert_message({alert_class: "success", message: "Successfully Updated."}));
                    } else {
                        userList.$el.find('#alert-message').html(alert_message({alert_class: "danger", message: "Cannot Update User."}));
                    }
                });
            },

            delete: function(id) {
                deleteUser(id, function() {
                    var alert_message = _.template($('#alert-message-tmpl').html());
                    var result = User.delete(id);

                    Backbone.history.loadUrl();

                    if (result !== null) {
                        userList.$el.find('#alert-message').html(alert_message({alert_class: "success", message: "Successfully Delete."}));
                    } else {
                        userList.$el.find('#alert-message').html(alert_message({alert_class: "danger", message: "Not Delete."}));
                    }
                });
            }
        });

        var User = Backbone.Model.extend(
            {
                getFullName: function() {
                    return this.get('first_name') + " " + this.get('last_name');
                },
            },
            {
                // static
                create: function(data) {
                    var user = new this({
                        id: data.id,
                        first_name: data.first_name,
                        last_name: data.last_name,
                        email: data.email,
                    });

                    return users.add(user);
                },

                update: function(data, id) {
                    var user = new User({id: id});
                    user.set('first_name', data.first_name);
                    user.set('last_name', data.last_name);
                    user.set('email', data.email);

                    return users.add(user, {merge: true});
                },

                delete: function(id) {
                    deleteUser(id);
                    return users.remove(users.get(id));
                }
            }
        );

        var Users = Backbone.Collection.extend({
            model: User
        });

        var UserList = Backbone.View.extend({
            el: "#content",

            events: {
                'click .create-user': "createUser",
                'click .edit-user': "editUser",
                'click .delete-user': "deleteUser"
            },

            createUser: function() {
                userRouter.navigate("users/create", {trigger: true});
            },

            editUser: function(e) {
                var id = $(e.currentTarget).data('id');
                userRouter.navigate("users/" + id + "/edit", {trigger: true});
            },

            deleteUser: function(e) {
                var id = $(e.currentTarget).data('id');
                userRouter.delete(id);
            },

            initialize: function() {
                this.template = _.template($('#users-table-tmpl').html());
            },

            render: function() {
                this.$el.html(this.template({users: this.collection}));
                return this;
            }
        });

        var UserCreate = Backbone.View.extend({
            el: "#content",

            events: {
                'submit #form-create-user': "storeUser",
                'click #form-create-user .cancel': "cancel"
            },

            storeUser: function(e) {
                e.preventDefault();
                userRouter.store(e);
            },

            cancel: function() {
                userRouter.navigate("users", {trigger: true});
            },

            initialize: function() {
                this.template = _.template($('#user-form-tmpl').html());
            },

            render: function() {
                this.$el.html(this.template({
                    page_header: "Create User",
                    form_id: "form-create-user",
                    button_text: "Submit",
                    first_name: "",
                    last_name: "",
                    email: ""
                }));
                return this;
            }
        });

        var UserEdit = Backbone.View.extend({
            el: "#content",

            events: {
                'submit #form-edit-user': "updateUser",
                'click #form-edit-user > .cancel': "cancel"
            },

            updateUser: function(e) {
                e.preventDefault();
                userRouter.update(e);
            },

            cancel: function() {
                userRouter.navigate("users", {trigger: true});
            },

            initialize: function() {
                this.template = _.template($('#user-form-tmpl').html());
            },

            render: function(id) {
                var user = users.get(id);

                this.$el.html(this.template({
                    page_header: "Edit User",
                    form_id: "form-edit-user",
                    button_text: "Update",
                    id: id,
                    first_name: user.get('first_name'),
                    last_name: user.get('last_name'),
                    email: user.get('email')
                }));
                return this;
            }
        });

        app();
    </script>
</body>
</html>